<h1>뭐 잘못 썼니</h1>

<form action="/home/update/<%=@post.id%>" method="post">
  뭐 때매 썼어 : <input type="text" name="title" value="<%=@post.title%>"><br>
    언제 썼어 : <input type="text" name="date" value="<%=@post.date%>"><br>
    얼마나 썼어 : <input type="text" name="money" value="<%=@post.content%>"><br>
  <input type="submit" value="수정">

</form>