<h1>돈 썼니?!?!?!?!?!</h1>

<form action="/home/create" method="post">
  뭐 때매 썼어 : <input type="text" name="title"><br>
    언제 썼어 : <input type="text" name="date"><br>
    얼마나 썼어 : <input type="text" name="money"><br>
  <input type="submit" value="입력">
</form>